# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.*.local
*.env

# pycache
*.pyc
__pycache__/

# Virtual environment
venv/

# test file
testData.json